@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-dark-color: #1B3C5A;
    --white-color: #ffff;
    --aleo-font: "Aleo", serif;
    --poppins-font: "Poppins", sans-serif;
    --Degrade-nav-menu-color: linear-gradient(180deg, rgba(7, 36, 62, 0.9) 32.33%, rgba(42, 95, 145, 0.9) 92.71%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}

header {
    width: 100%;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/header-backgrond.png);
    position: fixed;
    top: 0;
    z-index: 1;
}

main {
    margin-top: 100px;
}


/*Estilos heder*/
.logo-text-heder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-nav {
    width: 35%;
    margin-right: 20px;
}

.text-logo-heder {
    font-family: var(--aleo-font);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.bar-btn {
    font-size: 25px;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: var(--Degrade-nav-menu-color);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 3rem;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a {
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active,
.nav-menu li a:hover {
    color: #09ff00;
    transition: .3s;
    text-shadow: 1px 1px 10px #09ff00;
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
}

#check:checked~.nav-menu li {
    display: block;
}


/*estilos banner*/
#index-banner-pc {
    display: none;
}


#index-banner{
    display: grid;
    grid-template-columns: 100% 100% 100%;

    overflow: auto;
    animation: index-bannerr 1s linear 1s infinite alternate-reverse;
}

index-img-banner{
    width: 100vh;
}

.slider{
    margin: 0 auto;
    width: 95%;
    background-color: rgba(255, 0, 0, 0);  
    overflow: auto;
}

.slider-ul{
    list-style: none;
    width: 100%;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;

    animation: mover-slide 10s linear 1s infinite alternate-reverse;
}


.slider-li-1 img{
    width: 100%;
}
.slider-li-2 img{
    width: 100%;
}
.slider-li-3 img{
    width: 100%;
}

.slider-ul



/*Titulos index*/

.index-tittles {
    color: #2970CA;
    text-align: center;
    font-weight: 500;
}






/*botones index*/
#index-pc-btns {
    display: none;
}



#index-btns {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        'titulo titulo'
        'btn1 btn2'
        'btn3 btn4';
    column-gap: 3%;
}

.indexBtn1 {
    grid-area: btn1;
    text-align: right;
}

.indexBtn2 {
    grid-area: btn2;
    text-align: left;

}

.indexBtn3 {
    grid-area: btn3;
    text-align: right;
}

.indexBtn4 {
    grid-area: btn4;
    text-align: left;
}



.indexBtn1 img {
    width: 70%;
    position: relative;
}
.indexhoverBtn1 img {
    width: 70%;
    position: absolute;
}

.indexBtn2 img {
    width: 70%;
}

.indexBtn3 img {
    width: 70%;
}

.indexBtn4 img {
    width: 70%;
}

.index-tittles-btn {
    color: #2970CA;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    grid-area: titulo;
    margin-top: 2%;
}

.indexBtn1 img.active,
.indexBtn1 img:hover {
    border: 2px solid red;
    
}




/*Nuestro equipo*/

.index-tittles{
    text-align: center;
    color: #2970CA;
    font-weight: 500;
    font-size: 1rem;

}

.index-nuestro-equipo-img-1{
    width: 40%;
    grid-area: img-1-nuestro-equipo;
}

.index-nuestro-equipo-img-2{
    width: 40%;
    grid-area: img-2-nuestro-equipo
}

.index-nuestro-equipo-img-3{
    width: 40%;
    grid-area: img-3-nuestro-equipo
}

.index-nuestro-equipo-img-4{
    width: 40%;
    grid-area: img-4-nuestro-equipo
}

.index-nuestro-equipo-img-5{
    width: 40%;
    grid-area: img-5-nuestro-equipo;
}






/*responsive tablets*/
@media screen and (min-width: 870px) {

    nav {
        flex-direction: row;
    }

    #index-banner {
        display: none;
    }



    /*responsive navbar*/
    .logo-nav {
        width: 35%;
        margin-left: 20px;
    }

    .bar-btn {
        margin-right: 20px;
    }


    /*responsive banner*/
    #index-banner-pc {
        display: initial;
    }

    .index-img-banner-pc {
        width: 100%;
    }


    /* responsive botones index*/
    #index-btns {
        display: none;
    }

    #index-pc-btns {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            'titulo titulo'
            'btn-pc-1 btn-pc-2'
            'btn-pc-3 btn-pc-4';
    }

    .indexBtn-pc-1 {
        grid-area: btn-pc-1;
        text-align: right;
    }

    .indexBtn-pc-2 {
        grid-area: btn-pc-2;
        text-align: left;

    }

    .indexBtn-pc-3 {
        grid-area: btn-pc-3;
        text-align: right;
    }

    .indexBtn-pc-4 {
        grid-area: btn-pc-4;
        text-align: left;
    }



    .indexBtn-pc-1 img {
        width: 90%;
    }

    .indexBtn-pc-2 img {
        width: 90%;
    }

    .indexBtn-pc-3 img {
        width: 90%;
    }

    .indexBtn-pc-4 img {
        width: 90%;
    }

    .index-tittles-pc-btn {
        color: #2970CA;
        text-align: center;
        font-weight: 500;
        grid-area: titulo;
        margin-top: 2%;
    }

}




/*responsive desktop*/

@media screen and (min-width: 950px) {

    /*responsive Pc navbar*/
    nav {
        height: 100px;
        flex-direction: row;

    }

    .logo-nav {
        margin-left: 50px;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
        backdrop-filter: blur(0px);
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a {
        font-size: 1rem;
    }
}