@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --blue-dark-color: #1B3C5A;
    --white-color: #ffff;
    --aleo-font: "Aleo", serif;
    --poppins-font: "Poppins", sans-serif;
    --Degrade-nav-menu-color:linear-gradient(180deg, rgba(7, 36, 62, 0.9) 32.33%, rgba(42, 95, 145, 0.9) 92.71%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--poppins-font);
}


header{
    width: 100%;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/header-backgrond.png);
}

.logo-text-heder{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-nav{
    width: 35%;
    margin-right: 20px;
}
.text-logo-heder{
    font-family: var(--aleo-font);
    color: var(--white-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.bar-btn{
    font-size: 25px;
    color: var(--white-color);    
    margin-left: 20px;
    cursor: pointer;
}
.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: var(--Degrade-nav-menu-color);
    backdrop-filter: blur(5px);
    background-repeat: no-repeat;
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 3rem;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: var(--white-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(0, 255, 0);
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


#index-banner-pc{
    display: none;
}

#index-banner{
    display: grid;
    grid-template-columns: 100% 100% 100%;
    width: 100;
    overflow: auto;
    animation: index-bannerr 1s linear 1s infinite alternate-reverse;
}

.index-img-banner{
    width: 100%;
}

@keyframes index-banner {
    from{margin-left: -500px;}
    to{margin-left: 0px;}
}

.index-tittles{
    color: #2970CA;
    text-align: center;
    font-weight: 500;
}

/*botones index*/
#index-pc-btns{
    display: none;
}





/*responsive desktop*/
@media screen and (min-width: 768px){
    .logo-nav{
        margin-left: 50px;
    }    

    nav{
        height: 100px;
        flex-direction: row;

    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 1rem;
    }

    .nav-menu li{
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: none;

    }

    .nav-menu li a{
        font-size: 12px;
    }

    #index-banner{
        display: none;
    }

    #index-banner-pc{
        display: initial ;
    }
    .index-img-banner-pc{
        width: 100%;    
    }



    /*botones index*/
    #index-btns{
        display: none;
    }
    #index-pc-btns{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
            'titulo titulo'
            'btn1 btn2'
            'btn3 btn4';
    }

    .indexBtn1{
        grid-area: btn1;
        text-align: right;
    }

    .indexBtn2{
        grid-area: btn2;
        text-align: left;

    }

    .indexBtn3{
        grid-area: btn3;
        text-align: right;

    }

    .indexBtn4{
        grid-area: btn4;
        text-align: left;

    }
    
    .index-tittles-btn{
        color: #2970CA;
        text-align: center;
        font-weight: 500;
        grid-area: titulo;
        margin-bottom: -100px;
    }

}
